<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yourapp">

    <!-- Camera permission to use the device's camera for scanning QR codes -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Optional: Cleartext traffic if you're making HTTP requests instead of HTTPS -->
    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" tools:replace="android:usesCleartextTraffic">

        <!-- Your other application settings go here -->

    </application>

</manifest>
